/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    #header-area {
        height: 43vh;
        padding: 20px 0;
    }

    .custom-logo img {
        width: 30%;
    }

    .log-sign {
        margin-top: -40px;
    }

    .log-sign ul li a {
        font-size: 11px;
        padding-left: 5px;
    }

    .navbar-light .navbar-toggler-icon {
        margin-top: -50px;
    }

    .header-content {
        padding: 25px 0;

    }

    .header-content h2 {
        font-size: 35px;
    }

    .header-content h4 {
        font-size: 20px;
    }

    .about-part {
        padding: 15px 0;
    }

    .about-content::after {
        top: 41%;
        left: 40%;
    }

    .introduce-app-part {
        padding-top: 20px;
        text-align: center;
    }

    .introduce-content {
        padding: 0 0 20px 0;
    }

    .introduce-content p {
        font-size: 13px;
        padding-top: 0;
        width: 100%;
        text-align: justify;
    }

    .introduce-content h4 {
        font-size: 15px;
        padding-top: 20px;
    }

    .introduce-content h4::after {
        width: 20%;
        top: 102%;
        left: 18%;
    }

    .app-location {
        padding-top: 0;
    }

    .intro-app-image img {
        width: 80%;
    }

    .testimonial-slider {
        padding: 20px 0 50px 15px;
    }

    .slider-content .comments {
        font-size: 16px;
        padding: 0px 3%;
    }

    .coffeat-branch {
        padding: 25px 0 50px 0;
    }

    .coffeat-branch .coffeat-branch-title {
        padding-bottom: 15px;
    }

    .map-image {
        text-align: center;
    }

    .branch-detail-wrap {
        padding: 25px 0px 25px 0px;
    }

    .branch-content-wrap {
        padding: 22px 20px 0 22px;
        height: 310px;
        text-align: center;
    }

    .pb {
        padding-bottom: 15%;
    }

    .number h3 {
        font-size: 20px;
        width: 25px;
        height: 25px;
        margin-left: 48%;
    }

    .coffee-num h2 {
        font-size: 21px;
    }

    .distance h2 {
        font-size: 15px;
    }

    .coffee-num i {
        font-size: 16px;
    }

    .coffee-num p {
        font-size: 12px;
    }

    .footer-part {
        padding: 0px 30px 15px 0px;
        text-align: center;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    #header-area {
        height: 65vh;
    }

    .custom-logo img {
        width: 70%;
    }

    .header-content h2 {
        font-size: 75px;
    }

    .about-part {
        padding: 15px 0;
    }

    .about-content::after {
        top: 43%;
        left: 41%;
    }

    .introduce-app-part {
        padding-top: 20px;
        text-align: center;
    }

    .introduce-content {
        padding: 0 0 20px 0;
    }

    .introduce-content p {
        font-size: 13px;
        padding-top: 0;
        width: 100%;
        text-align: justify;
    }

    .introduce-content h4 {
        padding-top: 20px;
    }

    .introduce-content h4::after {
        width: 20%;
        top: 102%;
        left: 18%;
    }

    .app-location {
        padding-top: 0;
    }

    .testimonial-slider {
        padding: 20px 0 50px 15px;
    }

    .slider-content .comments {
        font-size: 16px;
        padding: 0px 3%;
    }

    .coffeat-branch {
        padding: 25px 0 50px 0;
    }

    .coffeat-branch .coffeat-branch-title {
        padding-bottom: 15px;
    }

    .map-image {
        text-align: center;
    }

    .branch-detail-wrap {
        padding: 25px 0px 25px 0px;
    }

    .branch-content-wrap {
        padding: 10px 22px 10px 20px;
        height: 305px;
    }

    .coffee-num p {
        font-size: 14px;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    #header-area {
        height: 75vh;
    }

    .custom-logo img {
        width: 80%;
    }

    .header-content h2 {
        font-size: 85px;
    }

    .about-part {
        padding: 35px 0;
    }

    .about-content::after {
        top: 24%;
        left: 28%;
    }

    .introduce-app-part {
        padding-top: 20px;
    }

    .introduce-content {
        padding-left: 0;
    }

    .introduce-content p {
        font-size: 13px;
        padding-top: 0;
        width: 108%;
    }

    .introduce-content h4 {
        font-size: 17px;
        padding-top: 20px;
    }

    .app-location {
        padding-top: 0;
    }

    .testimonial-slider {
        padding: 20px 0 50px 15px;
    }

    .number h3 {
        font-size: 22px;
        width: 27px;
        height: 27px;
    }

    .coffee-num h2 {
        font-size: 20px;
    }

    .coffee-num i {
        font-size: 18px;
    }

    .coffee-num p {
        font-size: 10px;
    }

    .distance h2 {
        font-size: 17px;
    }

    .coffeat-branch {
        padding: 25px 0 45px 0;
    }

    .coffeat-branch .coffeat-branch-title {
        padding-bottom: 30px;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    #header-area {
        height: 85vh;
    }

    .introduce-content p {
        width: 100%;
    }

    .testimonial-slider {
        padding: 30px 0 50px 5px;
    }

    .coffee-num h2 {
        font-size: 21px;
    }

    .distance h2 {
        font-size: 17px;
    }

    .coffeat-branch {
        padding: 35px 0 100px 0;
    }

    .coffeat-branch .coffeat-branch-title {
        padding-bottom: 45px;
    }


}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}