body {
    margin: 0;
    padding: 0;
   
}

html {
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
/* basic css end here */
/* header part design start */
#header-area {
    padding: 5px 0;
    background-image: url(img/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

#header-area::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(64, 60, 68, 0.3), rgb(64, 60, 68));
}

.custom-logo,
.log-sign {
    position: relative;
    z-index: 90;
}

.log-sign ul li a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding-left: 20px;
}

.navbar-light .navbar-toggler {
    border: none;
}

.navbar-light .navbar-toggler-icon {
    background-image: none;
}

.navbar-light .navbar-toggler-icon i {
    color: #ffffff;
    padding-left: 18px;
    position: relative;
    z-index: 100;
}

.custom-menu ul li a {
    color: #ffffff !important;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-family: 22px;
}

.custom-menu {
    position: relative;
    z-index: 100;
}

/* header content design */
.header-content {
    padding: 85px 0;
    position: relative;
    z-index: 100;
}

.header-content h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
}

.header-content h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 95px;
    font-weight: 800;
    color: #ffffff;
}

.get-start-button a {
    color: #ffffff;
    background: #30788b;
    padding: 22px 80px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 18px;
    border-radius: 2px;
}

.get-start-button {
    padding-top: 35px;
}

/* header part design end */
/* about part design start */
.about-part {
    padding: 100px 0;
}

.about-icon i {
    color: #30788b;
    border: 2px solid #000000;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    padding: 35px;
    font-size: 35px;
}

.about-content {
    position: relative;
}

.about-content::after {
    position: absolute;
    content: '';
    background: #f57365;
    width: 94px;
    height: 1px;
    top: 33%;
    left: 36%;
}

.about-content h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    padding-top: 18px;
}

.about-content p {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #6b6b6b;
    line-height: 26px;
    padding-top: 15px;
}

/* about part design end */
/* introduce apps part design start */
.introduce-app-part {
    padding-top: 60px;
    position: relative;
}

.introduce-app-part::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(247, 247, 247, 0.6);
}

.introduce-content {
    position: relative;
    z-index: 100;
    padding-left: 40px;
}

.introduce-content::after {
    position: absolute;
    content: '';
    background: #f57365;
    width: 16%;
    height: 1px;
    top: 17%;
    left: 40px;
}

.introduce-content h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-bottom: 8px;
    padding-top: 55px;
}

.introduce-content p {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 26px;
    padding-top: 10px;
    width: 80%;
}

.app-location {
    padding-top: 10px;
}

.intro-app-image {
    position: relative;
    z-index: 90;
}

/* introduce apps part design end */